[DJANGO]
SECRET_KEY=

[ML]
BATCH_SIZE=20

[REGION]
NAME=
CODE=

[POSTGRES]
ENGINE=django.db.backends.postgresql_psycopg2
NAME=
USER=
PASSWORD=
HOST=localhost
PORT=

[VK]
TOKEN=

[TWITTER]
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

[LEADER_ID]
CLIENT_ID=
CLIENT_SECRET=

[INSTA]
LOGIN=
PASSWORD=

[YOUTUBE]
KEY=

[TELEGA]
API_ID=
API_HASH=
PHONE=