~$ sudo -u postgres psql
CREATE DATABASE freyr_russia;
CREATE USER freyr_user WITH PASSWORD 'russia';
ALTER ROLE freyr_user SET client_encoding TO 'utf8';
ALTER ROLE freyr_user SET default_transaction_isolation TO 'read committed';
ALTER ROLE freyr_user SET timezone TO 'UTC+3';