amqp==5.0.2
asgiref==3.3.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
bs4==0.0.1
celery==5.0.3
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dataclasses==0.6
DAWG-Python==0.7.2
Django==3.1.4
django-bootstrap4==2.3.1
docopt==0.6.2
filelock==3.0.12
future==0.18.2
idna==2.10
intervaltree==3.1.0
ipymarkup==0.9.0
joblib==0.17.0
kombu==5.0.2
natasha==1.4.0
navec==0.10.0
numpy==1.19.4
packaging==20.7
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
purl==1.5
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==2.4.7
pytz==2020.4
razdel==0.5.0
redis==3.5.3
regex==2020.11.13
requests==2.25.0
sacremoses==0.0.43
six==1.15.0
slovnet==0.5.0
sortedcontainers==2.3.0
soupsieve==2.0.1
sqlparse==0.4.1
tokenizers==0.9.4
torch==1.7.0
tqdm==4.54.1
transformers==4.0.0
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
yargy==0.15.0
