Django==3.1.4
django-bootstrap4==2.3.1
django-excel-response==2.0.5
django-extensions==3.1.0
django-import-export==2.4.0
django-jazzmin==2.4.3
django-leaflet==0.27.1
natasha==1.4.0
networkx==2.5
nltk==3.5
numpy==1.19.4
psycopg2-binary==2.8.6
purl==1.5
python-rake==1.5.0
razdel==0.5.0
schedule==0.6.0
sentence-transformers==0.3.9
Telethon==1.19.0
torch==1.7.0
transformers==3.5.1
tweepy==3.9.0
vk-api==11.9.1
vosk==0.3.15
wget==3.2
youtube-dl==2020.12.14
requests-html==0.10.0
python-youtube==0.6.4
igramscraper==0.3.5
python-dateutil==2.8.1
pandas==1.2.1
osmnx==1.0.1