{% load bootstrap4 %}
{% load static %}
{% include 'header.html' %}
{% include 'sidebar.html' %}
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{page_title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active">{{page_title}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          
          
          <div class="row"> 
             <div class="col-lg-12">
                 
          <!-- Default box -->
            <div class="card">
              <div class="card-body">
                Источниками информации для анализа являются различные интернет-ресурсы. Такие, как, например, отдельные сайты, каналы в Ютубе, группы и сообщества во Вконтакте, аккаунты в Твиттере и Инстаграме. Добавленные источники периодически проверяются системой. Новые материалы, обнаруженные на этих ресурсах, добавляются системой в индекс для анализа.
                  <br><br>
                  Ниже представлен список уже используемых в работе ресурсов. Кроме того, модератор всегда имеет возможность добавить новый ресурс или удалить тот, который более не является актуальным.
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
             
          </div>
        </div>
          
        <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">Список площадок в работе</h3>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table m-0">
                              <thead>
                                  <tr>
                                      <th>Площадка</th>
                                      <th>Статьи</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {%for source in sources %}
                                  <tr>
                                      <td>
                                            {% if source.type == 'odnoklassniki_domain' %}
                                            <i class="fab fa-odnoklassniki-square"></i>
                                            {% elif source.type == 'odnoklassniki_id' %}
                                            <i class="fab fa-odnoklassniki-square"></i>
                                            {% elif source.type == 'insta' %}
                                            <i class="fab fa-instagram"></i>
                                            {% elif source.type == 'telega' %}
                                            <i class="fab fa-telegram"></i>
                                            {% elif source.type == 'vk_domain' %}
                                            <i class="fab fa-vk"></i>
                                            {% elif source.type == 'vk_owner' %}
                                            <i class="fab fa-vk"></i>
                                            {% elif source.type == 'youtube' %}
                                            <i class="fab fa-youtube"></i>
                                            {% elif source.type == 'twi' %}
                                            <i class="fab fa-twitter"></i>
                                            {% elif source.type == 'facebook' %}
                                            <i class="fab fa-facebook"></i>
                                            {% elif source.type == 'viber' %}
                                            <i class="fab fa-viber"></i>
                                            {% elif source.type == 'whatsapp' %}
                                            <i class="fab fa-whatsapp"></i>
                                            {% elif source.type == 'tiktok' %}
                                            <i class="fas fa-tiktok"></i>
                                            {% elif source.type == 'yandex' %}
                                            <i class="fas fa-yandex"></i>
                                            {% else%}
                                            <i class="fas fa-globe"></i>
                                            {% endif %}
                                          <a href="{{source.url}}">{{source.title}}</a>
                                      </td>
                                      <td>{{source.site_articles.count}}</td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.col-md-6 -->
          
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


{% include 'footer.html' %}