{% load bootstrap4 %}
{% load static %}

{% include 'header.html' %}

{% include 'sidebar.html' %}
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{page_title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            &nbsp;
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- Line chart -->
            <div class="card card-info card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Статистика за 7 дней
                </h3> 
              </div>
              <div class="card-body">
                <canvas id="totalStat"></canvas>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-md-6">
            <!-- Line chart -->
            <div class="card card-info card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-award"></i>
                  Индекс лояльности
                </h3> 
              </div>
              <div class="card-body">   
                  {% if loyalty_type == 'bad' %}
                  <h1 class="text-center text-danger" style="font-size: 1100%;">
                  {% elif loyalty_type == 'good' %}
                  <h1 class="text-center text-success" style="font-size: 1100%;">
                  {%else%}
                  <h1 class="text-center text-warning" style="font-size: 1100%;">
                  {%endif%}
                    {{loyalty_index|floatformat}}
                  </h1>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>

        </div>
        <!-- /.row -->
          
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-info card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-user"></i>
                  Самая упоминаемая персона:<br />
                  <a href="{% url 'person_page' top_per.id %}">{{top_per.name}}</a>
                  
                </h3>

                
              </div>
              <div class="card-body">
                <canvas id="personStat"></canvas>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-lg-6">
            <div class="card card-info card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-university"></i>
                  Самая упоминаемая организация:<br />
                  <a href="{% url 'org_page' top_org.id %}">{{top_org.name}}</a>
                </h3>

                
              </div>
              <div class="card-body">
                <canvas id="orgStat"></canvas>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-info card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-bell"></i>
                  Самая популярная тема:
                  {% if top_theme.id > 0 %}
                  <a href="{% url 'event_info' top_theme.id %}">{{top_theme.name}}</a>
                  {% endif %}
                </h3>

                
              </div>
              <div class="card-body">
                  <p class="lead">Всего <span class="badge bg-success">{{theme_count}}</span> статей и постов на эту тему. И вот некоторые заголовки:</p>
                  {%for t in theme_articles%}
                  <blockquote class="quote-secondary">
                  <p>{{t.article_link.title}}</p>
                  </blockquote>
                  {%endfor%}
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
          
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->
{% include 'footer_index.html' %}