{% load bootstrap4 %}
{% load static %}

{% include 'header.html' %}

{% include 'sidebar.html' %}
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{page_title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            &nbsp;
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          
          
          <div class="row"> 
             <div class="col-lg-12">
                 
          <!-- Default box -->
            <div class="card">
              <div class="card-body">
                <p>А в этом разделе мы можем узнать, о каких организациях говорится в интернете.</p>
                <p>Начните вводить название интересующей организации, чтобы система нашла вам ссылку на неё в индексе.</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
             
          </div>
        </div>
          
          
        <div class="row">
          <div class="col-lg-12">
              <div class="card">
              <div class="card-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-university"></i></span>
                  </div>
                  <input type="text" id="myAutocomplete" class="form-control" placeholder="ООО «Рога и Копыта»" />
                </div>
                
                <div id="output"></div>
            </div></div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        

      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


{% include 'footer.html' %}