{% load bootstrap4 %}
{% load static %}

{% include 'header.html' %}

{% include 'sidebar.html' %}
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active">{{page_title}}</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Card -->
                <div class="card card-info card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                src="{% static 'AdminLTE/dist/img/user4-128x128.jpg' %}"
                                alt="Person profile picture">
                        </div>
                        <h3 class="profile-username text-center">{{page_title}}</h3>
                        <p class="text-muted text-center">Linked Data</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Followers</b> <a class="float-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="float-right">543</a>
                            </li>
                            <li class="list-group-item">
                                <b>Friends</b> <a class="float-right">13,287</a>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-info btn-block"><b>Добавить ссылку</b></a>
                    </div>
                </div>
                <!--/ Profile Card -->
            </div>
            
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <!--Loyalty Index Plate-->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <b style="font-size: 400%;">- 17,2</b>
                                <p>Индекс лояльности</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-award"></i>
                            </div>
                            <div class="small-box-footer">
                                <i class="fas fa-tachometer-alt"></i>
                                Место в рейтинге: 325
                            </div>
                        </div>
                        <!--/ Loyalty Index Plate-->
                    </div>
                    <div class="col-md-6">
                        <!-- Significance Index Plate-->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <b style="font-size: 400%;">- 17,2</b>
                                <p>Индекс значимости</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-chess"></i>
                            </div>
                            <div class="small-box-footer">
                                <i class="fas fa-tachometer-alt"></i>
                                Место в рейтинге: 325
                            </div>
                        </div>
                        <!-- / Significance Index Plate-->
                    </div>
                </div>
                <!--Chronology-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info card-outline">
                            <div class="card-body">
                                <h5>Динамика сообщений</h5>
                                <canvas id="timeseries" height="135"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Chronology-->   
            </div>
        </div>
        
        <!--Article List-->
        <div class="row">
            <div class="col-lg-12">
            {%for a in articles%}
                {% if a.sentiment == 2%}
                <div class="card card-danger card-outline">
                {% elif a.sentiment == 1%}
                <div class="card card-success card-outline">
                {% elif a.sentiment == 0%}
                <div class="card card-info card-outline">
                {%endif%}
                    <div class="card-header">
                        <a href="{{a.url}}" class="text-lg">{{a.title}}</a>
                    </div>
                    <div class="card-body">
                        <p>{{a.text|truncatechars:300}}</p>
                        <span class="mr-3">
                            <i class="fas fa-calendar-alt"></i> {{a.publish_date}}
                        </span>
                        <span class="mr-3">
                        {% include 't/site_types.html' %}
                        <span class="badge bg-info">{{a.site.title}}</span>
                        </span>
                        <span class="mr-3">
                            <i class="fas fa-thumbs-up"></i> <span class="badge bg-success">{{a.likes}}</span>
                        </span>
                        <span class="mr-3">
                            <i class="far fa-eye"></i> <span class="badge bg-success">{{a.likes}}</span>
                        </span>
                        <span class="mr-3">
                            <i class="fas fa-comments"></i> <span class="badge bg-success">{{a.likes}}</span>
                        </span>
                    </div>
                </div>
            {%endfor%}
            </div>
        </div>
        <!--/Article List-->
      </div>
    </div>
    <!-- /Main content -->

</div>
<!-- /Content Wrapper. Contains page content -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


{% include 'footer.html' %}