{% load bootstrap4 %}
{% load static %}

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">

      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'events' %}" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                События
              </p>
            </a>
          </li>
            
            <li class="nav-item">
            <a href="{% url 'items' %}" class="nav-link">
              <i class="nav-icon fas fa-comments"></i>
              <p>
                Статьи и посты
              </p>
            </a>
          </li>
            
            <li class="nav-item">
            <a href="{% url 'sources' %}" class="nav-link">
              <i class="nav-icon fas fa-cloud"></i>
              <p>
                Источники
              </p>
            </a>
          </li>
            
            <li class="nav-item">
            <a href="{% url 'persons' %}" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Персоны
              </p>
            </a>
          </li>
            
            <li class="nav-item">
            <a href="{% url 'orgs' %}" class="nav-link">
              <i class="nav-icon fas fa-university"></i>
              <p>
                Организации
              </p>
            </a>
          </li>
            
            
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->