{% load bootstrap4 %}
{% load static %}

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {% if user.is_authenticated %}
        <div class="info"><a class="d-block">Вы авторизованы как {{user.username}}</a></div>
        {% else %}
        <div class="info"><a href="{% url 'login' %}">Авторизоваться</a></div>
        {% endif %}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url 'appeals' %}" class="nav-link">
              <i class="nav-icon fas fa-exclamation-triangle"></i>
              <p>
                Обращения граждан
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'items' %}" class="nav-link">
              <i class="nav-icon fas fa-award"></i>
              <p>
                Индекс лояльности
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'events' %}" class="nav-link">
              <i class="nav-icon fas fa-bell"></i>
              <p>
                События
              </p>
            </a>
          </li>
            

            
          {% if user.is_authenticated %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cloud"></i>
              <p>Источники <i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'sources' %}" class="nav-link">
                  <i class="nav-icon fas fa-indent"></i>
                  <p>Индекс</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'add_source' %}" class="nav-link">
                  <i class="nav-icon fas fa-plus"></i>
                  <p>Добавить источник</p>
                </a>
              </li>
            </ul>
          </li>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'sources' %}" class="nav-link">
              <i class="nav-icon fas fa-cloud"></i>
              <p>Источники</p>
            </a>
          </li>
          {% endif %}
            
            <li class="nav-item">
              <a href="{% url 'persons' %}" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Персоны
                </p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="{% url 'orgs' %}" class="nav-link">
                <i class="nav-icon fas fa-university"></i>
                <p>
                  Организации
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'happiness' %}" class="nav-link">
                <i class="fas fa-grin-squint-tears"></i>
                <p>
                  Индекс счастья
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'search' %}" class="nav-link">
                <i class="fas fa-search"></i>
                <p>
                  Поиск
                </p>
              </a>
            </li>
            
            
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->